.contact {
    padding-bottom: 6em;
    background-color: var(--quinary-color);
    background-image: url("/src/images/backgroundportfolioalter.png");
    background-position: 0 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.contactFormBox {
    width: 60%;
    height: 60%;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}
.contactForm {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    margin: 0 2em;
    height: 100%;
    padding: 1em 0;
}
label {
    display: block;
    margin-bottom: 1em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    font-family: inherit;
}
textarea {
    height: 10em;
}
button {
    align-self: self-end;
}

@media screen and (max-width: 768px) {
    .contactFormBox {
        width: 90%;
    }
}
