nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 50px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;

    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.3s ease-out,
        visibility 0.3s ease-out; /* transition effect */
}
.navVisible {
    visibility: visible;
    opacity: 1;
}

.navTitle {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.8em;
}
.navName {
    cursor: pointer;
}
.navPic {
    margin: 0 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 20%;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.navItem {
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
    margin: 0 1em;
    cursor: pointer;
}
.navItem:hover {
    background-color: var(--primary-color-dark);
}
.navItemActive {
    background-color: var(--primary-color-dark);
    outline: 1px solid var(--quinary-color);
    border-radius: 5px;
}

.navLinks {
    margin-right: 2em;
    display: flex;
    list-style: none;
    font-size: 0.8em;
}
.navLinksActive {
    display: block;
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: end;
    top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}
.navLinksActive li {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

.menuIcon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 0.5em;
    font-size: 2.5em;
    color: var(--quinary-color);
}

@media screen and (max-width: 768px) {
    .navLinks {
        display: none;
    }
    .navLinks:hover {
        background-color: var(--primary-color-dark);
    }

    .menuIcon {
        display: block;
    }

    .navLinksActive {
        display: block;
        max-height: 90vh;
        padding: 0;
        margin: 0;
    }
    .navItem {
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .menu {
        flex-direction: column;
    }
}
