:root {
    --primary-color: #464444;
    --primary-color-dark: #3d3b3b;
    --primary-text-color: #272525;
    --secondary-text-color: #fcfcfc;
    --secondary-color: #ff5f03;
    --tertiary-color: #c8ac3b;
    --quaternary-color: #24f1ff;
    --quinary-color: #f4f5f5;
    --tertiary-color-dark: #b99f37;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}
h2 {
    font-size: 2em;
    margin: 1em 0 1.5em;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--quinary-color);
}
.button {
    margin: 1em 2em 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-size: 1.2em;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 5px 5px 2px var(--primary-color-dark);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button:hover {
    box-shadow: 3px 3px 2px var(--primary-color-dark);
    transform: translate(2px, 2px);
    transition: 0.4s;
}

@media screen and (max-width: 399px) {
    body p {
        font-size: 1em;
    }
    .button {
        width: 120px;
        height: 40px;
        font-size: 0.9em;
    }
    h2 {
        font-size: 1.5em;
    }
}
